.lost-password__title {
	font-size: 1.5em;
	font-weight: bold;
}

.lost-password__instruction-list {
	margin: 10px 0px 10px 20px;
}

.lost-password__forgot-username-link {
	padding: 10px 0px;
	display: inline-block;
}

.lost-password__submit-button {
	width: 100%;
}
